@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho+B1&display=swap');

body{
    
    background-color: black;
}

#mapDiv{
    position:relative;
    z-index: 2;
    padding-top:3em;
    width: 40%;
    margin: auto;
}

#mapDiv path{
    fill: rgba(0, 0, 255, 0.938);
    stroke: cornsilk;
    stroke-width: 3px;
}

#mapDiv :hover{
    fill:red;
    cursor: pointer;
}


#result{
    font-family: 'Shippori Mincho B1', serif;
    border-radius: 0px;
    border: 0px;
    color: white;
    resize: none;
    background-color:   transparent ;
  
    width: 26em;
    height: 9em;
    
}




/*muestra de mis arreglos*/
#caja{
    position:absolute;
    
    top: 18em;
    left: 300px;
    margin: auto;
}

#hero{
    min-height: 100vh;
    position: relative;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

