body{
    background-color: rgb(106, 82, 246);
}

#mapDiv{
    width: 40%;
    margin: auto;
}

#mapDiv path{
    fill: chocolate;
    stroke: cornsilk;
    stroke-width: 3px;
}

#mapDiv :hover{
    fill:red;
    cursor: pointer;
}

#informacion{
    color: white;
    width: 5em;
    height: 5em;
    background-color: red;
    margin: auto;
}

#result{
    width: 26em;
    height: 20em;
}